.App {
  text-align: center;
  margin-top: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  width: 300px;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333333;
}

.card p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #777777;
}

.form-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container input[type="text"] {
  width: 300px;
  padding: 0.8rem;
  border-radius: 8px 0 0 8px;
  border: none;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.form-container button {
  margin: 10px;
  padding: 0.8rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-container button:hover {
  background-color: #45a049;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #777777;
  cursor: pointer;
}

.fas {
	color: black;
	font-size: 2em;
}
